@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 900;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  font-weight: 100;
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-weight: 700;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("ttf");
}
