.HowTo {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.HowTo-items {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.HowTo-items .HowTo-item {
  width: 300px;
  margin: auto;
}
